
    
    <main>
        <a href="/admin/superSettings">Settings</a> 

        <h1>Welcome to the ONEPLACE super Admin Dashboard</h1>
        
     add codes to display all account approved account dynamically in a container. 

    </main>

