
<main class="account-container">
    <h1>Account Management</h1>
    <ul class="account-links">
        <li><a href="/common/management">Management</a></li>
        <li><a href="/account/update">Update account information</a></li>
    </ul>
</main>
