<footer>
    <p class="copyright">&copy; <%= new Date().getFullYear() %> ONEPLACE</p>
    <p>ONEPLACE Platform</p>

    <a href="/help">Help</a> | 
    <a href="/contact">Contact Us</a> | 
    <a href="/admin">Administration</a> |
    <a href="/common/orgDashboard">Org Dashboard</a> |
    <a href="/print/printStudent">Print Student</a> |
    <a href="/print/printStudentReport">Student final report</a> |
        <a href="/account/account">Account</a> 


</footer>
