<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %> | OnePlace</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/orgDashboard.css">
    <link rel="stylesheet" href="/css/classDashboard.css">
    <link rel="stylesheet" href="/css/attendance.css">
    <link rel="stylesheet" href="/css/attendanceCollection.css">
    <link rel="stylesheet" href="/css/addStudent.css">
    <link rel="stylesheet" href="/css/assessment.css">
    <link rel="stylesheet" href="/css/deleteStudent.css">
    <link rel="stylesheet" href="/css/editStudent.css">
    <link rel="stylesheet" href="/css/manageClassSubjectAndGradYr.css">
    <link rel="stylesheet" href="/css/manageRecords.css">
    <link rel="stylesheet" href="/css/registerSchoolYear.css">
    <link rel="stylesheet" href="/css/studentDetails.css">
    <link rel="stylesheet" href="/css/PublicDashboard.css">
    <link rel="stylesheet" href="/css/createEmployee.css">
    <link rel="stylesheet" href="/css/manageStudents.css">
    <link rel="stylesheet" href="/css/applicationList.css">
    <link rel="stylesheet" href="/css/addClassSubject.css">
    <link rel="icon" href="/images/site/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon_io/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <!-- Dynamic font style -->
    <% if (session.fontStyle) { %>
        <link href="https://fonts.googleapis.com/css2?family=<%= session.fontStyle %>&display=swap" rel="stylesheet">
        <style>
            :root {
                --font-family: '<%= session.fontStyle %>', sans-serif;
            }
        </style>
    <% } %>

    <script src="/js/script.js" defer></script>
    <script src="/js/index.js" defer></script>
    <script src="/js/orgDashboard.js" defer></script>
    <script src="/js/classDashboard.js" defer></script>
    <script src="/js/attendance.js" defer></script>
    <script src="/js/attendanceCollection.js" defer></script>
    <script src="/js/addStudent.js" defer></script>
    <script src="/js/assessment.js" defer></script>
    <script src="/js/deleteStudent.js" defer></script>
    <script src="/js/editStudent.js" defer></script>
    <script src="/js/manageClassSubjectAndGradYr.js" defer></script>
    <script src="/js/manageRecords.js" defer></script>
    <script src="/js/registerSchoolYear.js" defer></script>
    <script src="/js/studentDetails.js" defer></script>
    <script src="/js/createEmployee.js" defer></script>
    <script src="/js/manageStudents.js" defer></script>
    <script src="/js/management.js" defer></script>
    <script src="/js/applicationList.js" defer></script>
    <script src="/js/addClassSubject.js" defer></script>
</head>
