<header id="top-header">
    <span class="siteName">
        <img src="/images/1place.png" alt="Logo" class="logo">
        <% if (session.organizationName) { %>
            <a href="/common/orgDashboard" title="Go to dashboard"><%= session.organizationName %></a>
        <% } else { %>
            <a href="/" title="Return to home page">OnePlace</a>
        <% } %>
    </span>
    <div id="tools">
        <% if (session.firstName) { %>
            <a href="/common/management" title="Go to management page">Welcome, <%= session.firstName %>!</a>
            <a href="/account/logout" title="Log out">Logout</a>
        <% } else { %>
            <a title="Click to log in" href="/account/login">Login | Register</a>
        <% } %>
    </div>
</header>
