<header id="top-header">
    <span class="siteName">
        <img src="/images/1place.png" alt="Logo" class="logo"><!--   org logo -->

        <a href="/" title="Return to home page">OnePlace</a><!--  should be orgname -->
    </span>
    <div id="tools">
        <a title="Click to log in" href="/account/login">Account </a>  
    </div>
</header>
