<main>
  <div id="hero" class="video-container">
    <video autoplay loop muted playsinline id="hero-video">
      <source src="images/1place.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <section class="info">
    <p>
      Discover the freedom to manage your organization with complete control.
      OnePlace offers you the tools and flexibility to tailor your management
      system to fit your team's unique needs. Join us and start shaping the
      future of your organization today. Enjoy seamless collaboration, intuitive
      organization, and comprehensive control over your projects and tasks.
    </p>
  </section>



  <div class="services">
    <h1>Our Services and Features</h1>
  </div>

  <section id="features">
    <section class="feature">
      <img id="img-feature" src="/images/project-manager_11445631.png" alt="Image 1" />
      <h3>Project Management Tool</h3>
      <p>
        Our platform provides a comprehensive project management system designed
        to help you oversee every aspect of your projects effortlessly. With
        intuitive task assignment, progress tracking, and deadline management,
        you can ensure that your team stays on track and meets their goals
        efficiently. Real-time updates and notifications keep everyone informed,
        facilitating seamless collaboration and ensuring that no detail is
        overlooked.
      </p>
    </section>

    <section class="feature">
      <img id="img-feature" src="/images/workflow.jpg" alt="Image 2" />
      <h3>Customizable Workflows</h3>
      <p>
        OnePlace offers highly customizable workflows to fit the unique needs of
        your organization. Whether you need a simple task list or a complex
        multi-step process, our system allows you to design workflows that match
        your operational requirements. Drag-and-drop functionality makes it easy
        to adjust and refine processes, enabling your team to adapt quickly to
        changing priorities and maintain productivity.
      </p>
    </section>

    <section class="feature">
      <img id="img-feature" src="/images/communication.png" alt="Feature 3" />
      <h3>Integrated Communication</h3>
      <p>
        Effective communication is at the heart of successful project
        management, and our platform integrates a range of communication tools
        to support your team. From in-app messaging and discussion boards to
        file sharing and video conferencing, OnePlace ensures that your team can
        collaborate and share information seamlessly. This integration helps
        reduce email clutter, keeps conversations contextually relevant, and
        ensures that important information is always accessible when needed.
      </p>
    </section>
    
  </section>
  <div id="image-section" class="image-container">
    <img src="images/home2nd.jpg" alt="Informative image" />
  </div>
</main>
