  <main>
        <div class="content" style="text-align:center;">
            <h2>Welcome to OnePlace</h2>
            <p>Discover the freedom to manage your organization with complete control. OnePlace offers you the tools and flexibility to tailor your management system to fit your team's unique needs.</p>
           
            <div class="image-section">
                <img src="/images/home.jpeg" alt="Centered Image" style="max-width:50%; display: block; margin: auto;">
                <div class="buttons" style="margin-top:20px;">
                    <a href="/account/login" class="button-link">
                        <button type="button">Log In / Register</button>
                    </a>
                </div>
                <p>Join us and start shaping the future of your organization today. Enjoy seamless collaboration, intuitive organization, and comprehensive control over your projects and tasks.</p>
            </div>
        </div>
    </main>

