.attendance-sheet-container {
  overflow-x: auto;
  white-space: nowrap;
}

.attendance-sheet {
  width: 100%;
}

.total-attendance {
  left: 100px; /* Adjust this value according to the width of the name column */
}

.edit-save-link {
  display: inline-block;
  margin-top: 5px;
  cursor: pointer;
  color: blue;
}
