/* manage class subject and grad year */
.container {
  display: flex;
  justify-content: center;
  min-height: 80vh;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

fieldset {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 600px;
}

form, .delete-link {
  margin-top: 10px;
}

.delete-link {
  display: block;
  color: red;
  text-decoration: none;
  margin-top: 5px;
}

.delete-link:hover {
  text-decoration: underline;
}

button, select, input[type="text"] {
  padding: 8px;
  margin-top: 5px;
}

legend {
  font-size: 1.2rem;
  font-weight: bold;
}
.separator {
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
.flash-message {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}
.flash-success {
  background-color: #d4edda;
  color: #155724;
}
.flash-error {
  background-color: #f8d7da;
  color: #721c24;
}


/* Mobile view adjustments */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}

.separator {
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

.flash-message {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

.flash-success {
  background-color: #d4edda;
  color: #155724;
}

.flash-error {
  background-color: #f8d7da;
  color: #721c24;
}

.center-link {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.center-link button {
  margin: 0 10px;
  padding: 5px 10px; /* Adjusted padding for a smaller button */
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.center-link button:hover {
  background-color: #0056b3;
}