/* Change Box Model */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Define the font-family variable */
:root {
  --font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}
h1 {
  text-align: center;
}

.flash-success {
  color: green;
  font-weight: bold;
  text-align: center;
}
.flash-error {
  color: red;
  font-weight: bold;
  text-align: center;
}

.link-to-next-back {
  text-align: center;
  margin-bottom: 20px;
}

.link-to-next-back a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.link-to-next-back a:hover {
  background-color: #0056b3;
}

header#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header#top-header.sticky {
  backdrop-filter: blur(5px);
}

header#top-header.blur {
  backdrop-filter: blur(5px);
  transition: backdrop-filter 0.3s ease;
}


header#top-header .siteName {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
}

header#top-header .siteName a {
  text-decoration: none;
  color: #333;
}

header#top-header #tools {
  display: flex;
  align-items: center;
  right: 15px;
  position: relative;
}

header#top-header #tools a {
  text-decoration: none;
  color: #000000;
  padding-left: 15px;
}

.header-welcome {
  display: block;
}

.logo {
  width: 85px;
  height: auto;
  margin-right: 10px;
}

nav {
  background-color: black;
  text-align: center;
  padding: 10px 0;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #f8f8f8;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li:hover {
  opacity: 7;
  color: #0066cc;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1em;
}

.account-link {
  display: flex;
  margin-top: 10px;
}

main {
  margin: 20px auto;
  padding: 0 15px;
  width: 100%;
}

#loginbutton {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#loginbutton:hover {
  background-color: black;
  color: white !important;
}

h2 {
  color: #333;
}

/* Styling form elements */
form {
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 5px;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  color: Black;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

/* Link styling */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Checkbox for showing passwords */
.form-group input[type="checkbox"] {
  margin-top: 5px;
}

/* Notices and alerts */
.notice {
  color: #ff0000;
}

.notice,
.error {
  color: #d8000c;
  background-color: #ffbaba;
  border: 1px solid #d8000c;
  margin: 20px auto;
  padding: 10px;
  width: 90%;
  border-radius: 5px;
  text-align: center;
}

.notice li,
.error li {
  list-style-type: none;
}

form label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

form {
  max-width: 600px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

/* Footer Styles */
footer {
  border-top: 2px solid black;
  text-align: center;
  padding: 10px;
  font-size: 0.8em;
  background-color: #f8f8f8;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
  color: #333;
  border-top: 1px solid #ddd;
}

footer .copyright,
footer .social-media,
footer a {
  margin: 5px 0;
}

footer a {
  color: #333;
  text-decoration: none;
}

footer .social-media {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

footer .social-media a {
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

footer .social-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Responsive Styles */
@media (max-width: 600px) {
  footer {
    padding: 20px 10px;
  }

  footer .social-media {
    flex-wrap: wrap;
  }

  footer .social-media a {
    margin: 5px;
  }

  footer .copyright,
  footer .social-media,
  footer a {
    font-size: 12px;
  }
}

form input[type="text"],
form select,
form textarea {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

form textarea {
  height: 100px;
}

/* Hamburger menu styles */
.hamburger {
  display: block;
  cursor: pointer;
}

.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #333;
  transition: all 0.3s ease-in-out;
}

.nav-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  padding: 10px 0;
}

.nav-item a {
  text-decoration: none;
  color: #333;
  display: block;
}

.nav-item a:hover {
  background-color: #f0f0f0;
}

.nav-menu.show {
  display: block;
  position: absolute;
  background-color: #f8f8f8;
  box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.2);
  right: 0;
  top: 40px;
  width: 250px;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Management tools dropdown */
.submenu {
  display: none;
}

.submenu.show {
  display: block;
}

.management-links {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

.management-links a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.management-links a:hover {
  background-color: #f0f0f0;
}

.submenu-toggle {
  cursor: pointer;
}

.submenu-toggle .arrow {
  margin-left: 10px;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

/* Index page specific styles */
.index-container {
  text-align: center;
  padding: 20px;
}

.image-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.image-section img {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: block;
  border-radius: 5px;
}

.buttons {
  margin-top: 20px;
}

.buttons .button-link button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons .button-link button:hover {
  background-color: #0056b3;
}

.image-container {
  width: 80%;
  overflow: hidden;
}

.image-container img {
  width: 90%;
  height: 300px;
  display: block;
  border-radius: 5px; /* Optional: Adds rounded corners to the image */
  object-fit: cover;
}


.video-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#hero-video {
  width: 100%;
  height: 95%;
  object-fit: cover;
}



#herostuff h2 {
  font-size: 18px;
  margin: 0;
  color: white;
  bottom: 10px;
}

/* Main styles */
main {
  font-family: var(--font-family);
  width: 100%;
}

.info {
  border-radius: 10px;
  border: black solid;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

/* Features styles */
.services {
  text-align: center;
}

#img-feature {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.feature h3 {
  border-bottom: solid black 1.5px;
}

#features {
  display: block;
  text-align: center;
}

.feature {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: auto;
}

.feature p,
h3 {
  text-align: center;
}

/* Flash Messages */
.flash-message {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  text-align: center;
}

.flash-message.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.flash-message.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

/* Media queries */
@media (max-width: 768px) {
  header#top-header {
    flex-direction: row;
    align-items: center;
  }

  header#top-header .siteName {
    margin-bottom: 0;
    font-size: 1.1em;
  }

  header#top-header .siteName .logo {
    width: 45px;
    height: auto;
  }

  header#top-header #tools a.header-welcome {
    display: none;
  }

  header#top-header #tools {
    margin-left: auto;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  main {
    width: 100%;
  }

  .image-container img {
    width: 80%;
    height: 200px;
    object-fit: cover;
 }

  .info {
    width: 100%;
    margin: 10px 0;
  }

  .hamburger {
    display: block;
  }

  .hamburger .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #333;
    transition: all 0.3s ease-in-out;
  }

  .nav-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav-item {
    padding: 10px 0;
  }

  .nav-item a {
    text-decoration: none;
    color: #333;
    display: block;
  }

  .nav-item a:hover {
    background-color: #f0f0f0;
  }

  .nav-menu.show {
    display: block;
    position: absolute;
    background-color: #f8f8f8;
    box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.2);
    right: 0;
    top: 40px;
    width: 250px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media (max-width: 1200px) and (min-width: 769px) {
  main {
    width: 100%;
  }

  .info {
    width: 100%;
    margin: 10px 0;
  }

  #hero {
    height: 50vh;
  }

  #herostuff h2 {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .prev,
  .next {
    font-size: 16px;
    padding: 12px;
  }

  .info p,
  .feature p {
    font-size: 14px;
  }

  .services h2 {
    font-size: 20px;
  }

  #img-feature {
    width: 120px;
    height: 120px;
    border-radius: 10px;
  }

  .feature h3 {
    font-size: 18px;
  }

  #features {
    display: flex;
    padding-right: 5px;
    justify-content: center;
  }

  #herostuff h2 {
    font-size: 13px;
    padding: 5px;
  }

  #hero {
    height: 50vh;
  }
}

@media (max-width: 500px) {
  #herostuff {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 3px;
    padding-bottom: 0px;
    border-radius: 50px;
    width: 100%;
  }

  #herostuff h2 {
    font-size: 15px;
    margin: 0;
    color: white;
    bottom: 5px;
  }

  #img-feature {
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }

  .feature p {
    font-size: 15px;
  }
}
/* Image Section Styles */
#image-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

