
    <div class="assessment-container">
        <table>
            <tr>
                <th>Student Name</th>
                <th>Test 1</th>
                <th>Test 2</th>
                <th>Test 3</th>
                <th>Mock 1</th>
                <th>Exams</th>
            </tr>
            <!-- Example student row, dynamically generate rows based on data -->
            <tr>
                <td>John Doe</td>
                <td><input type="text" name="test1-johndoe"></td>
                <td><input type="text" name="test2-johndoe"></td>
                <td><input type="text" name="test3-johndoe"></td>
                <td><input type="text" name="mock1-johndoe"></td>
                <td><input type="text" name="exams-johndoe"></td>

            </tr>
            <tr>
                <td>Henry Dean</td>
                <td><input type="text" name="test1-johndoe"></td>
                <td><input type="text" name="test2-johndoe"></td>
                <td><input type="text" name="test3-johndoe"></td>
                <td><input type="text" name="mock1-johndoe"></td>
                <td><input type="text" name="exams-johndoe"></td>
            </tr>
            <!-- Repeat for more students -->
        </table>
        <button class="submit-btn">Submit Assessment</button>
    </div>
