<main class="management-container">
    <h1>settings</h1>

    <div class="toggle-container">
        <h2>Employee Accounts <span id="toggleArrow" class="toggle-arrow">&#9650;</span></h2>
        <div id="employeeAccountsContainer" class="employee-accounts-container hidden">
            <div class="employee-account">
                <p>Name: John Doe</p>
                <p>Account Credentials: example@domain.com</p>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="termSelect">End Term:</label>
        <ul id="termsList">
            <% schoolYears.forEach(year => { %>
                <% year.terms.forEach(term => { %>
                    <li>
                        <%= term.term_name %> (Start: <%= term.start_date.toISOString().slice(0, 10) %>, End: <%= term.end_date.toISOString().slice(0, 10) %>)
                        <a href="#" onclick="confirmEndTerm('<%= term.term_id %>')">End</a>
                    </li>
                <% }); %>
            <% }); %>
        </ul>
    </div>
</main>
<script src="/js/management.js"></script>
